@use "../../styles/index" as *;

.videocard {
  
    @include flex-row;
    margin: 1.5rem 0 1.5rem 0;
    
    &__media {
      width: 35%;
      border-radius: 0.25rem;
      margin-right: 1.5rem;
    }
  
    &__info {
      @include flex-column;
      justify-content: space-between;
      padding: 0.5rem 0;
    }
    &__title {
      @include page-header-mobile;
    }
  }
  