//colors
$primary-brainflix-black: #323232;
$primary-brainflix-blue: #0095ff;
$primary-silver: #afafaf;
$primary-white: #ffffff;

$secondary-brainflix-black: #000;
$secondary-brainflix-blue: #0065ad;
$secondary-mercury: #e1e1e1;
$secondary-alabaster: #fafafa;

//fonts
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf");
  font-weight: 600; // Use a numerical weight for demi-bold
}

@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf");
  font-weight: normal;
}

$primary-font: "Avenir Next";

*,
*::before,
*::after {
  box-sizing: border-box;
}
