@use "../../styles/index" as *;

.header {
  @include flex-column;
  margin: 0 1rem;
  align-items: center;

  @include tablet {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
  }
  @include desktop {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    @include flex-column;
    width: 100%;

    @include tablet {
      @include flex-row;
      align-items: center;
      justify-content: flex-end;
      width: 80%;
    }
    @include desktop {
      @include flex-row;
      align-items: center;
      justify-content: flex-end;
      width: 50%;
    }
  }

  &__logo {
    width: 11.25rem;
    align-self: center;
  }

  &__search--group {
    @include flex-row;
    align-items: center;
    width: 100%;
  }

  &__search {
    display: flex;
    border: 0.125rem solid $secondary-mercury;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color:  $secondary-alabaster;
    background-image: url("../../assets/Icons/search.svg");
    background-position: 0.75rem center;
    background-repeat: no-repeat;
    padding: 1rem 3rem;
    margin: 1rem 0.5rem 1rem 0;
    width: 100%;

    &:focus {
      outline: none;
      border-color: $primary-brainflix-blue;
      box-shadow: 0 0 0.25rem $primary-brainflix-blue;
    }

    &:hover {
      border-color: $secondary-brainflix-blue;
    }

    &.error {
      border-color: red;
      background-color: lighten(red, 40%);
    }

    @include tablet {
      margin: 1rem;
    }
    @include desktop {
      margin: 1rem;
    }

  }

  &__upload {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.125rem solid $primary-brainflix-blue;
    border-radius: 0.25rem;
    border: none;
    font-size: 16px;
    background-color: $primary-brainflix-blue;
    color: $primary-white;
    background-image: url("../../assets/Icons/upload.svg");
    background-position: 1.75rem center;
    background-repeat: no-repeat;
    padding: 1rem;
    width: 100%;
    text-transform: uppercase;
    margin: 1rem 0;

    @include tablet {
      margin: 1rem;
    }
    @include desktop {
      margin: 1rem;
    }
  }

  &__upload:hover {
    background-color: $secondary-brainflix-blue;
  }

  &__avatar {
    background-image: url("../../assets/Images/Mohan-muruge.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: none;
    flex: 0 0 50px;

    @include tablet {
      display: flex;
    }

    @include desktop {
      display: flex;
      margin-left: 1rem;
    }

    &-mobile {
      display: flex;

      @include tablet {
        display: none;
      }
      @include desktop {
        display: none;
      }
    }
  }
}
