@use "../../styles/index" as *;

.video__player {
  display: flex;
}

.video__media {
  display: flex;
  width: 100vw;

  @include tablet
  {
    display: flex;
    width: 80vw;
   justify-content: center;

  }

  @include desktop
  {
    display: flex;
    justify-content: center;
    width: 50vw;
  }


}
.video__container {
  display: flex;
  width: 100vw;
 
  justify-content: center;
  background-color: $secondary-brainflix-black;
}